@font-face {
	font-family: "open_sans";
	src: url('images/fonts/open_sans_regular.ttf') format('truetype');
}

@font-face {
	font-family: "rubik_dirt";
	src: url('images/fonts/rubik_dirt_regular.ttf') format('truetype');
}

:root {
	--bg-color: #111111;
	--text-color: #696969;
	--highlight-color: #888888;
	--nav-color: #555555;
	--link-color: #494949;
	--panel-color: #090909;

	--default-y-spacing: 20px;
	--default-x-spacing: 15px;
	--page-width: 800px;
}

*, *::before, *::after {
	box-sizing: border-box;
}


/* General */
body {
	background-color: var(--bg-color);
	width: min(100% - (var(--default-x-spacing) * 2), var(--page-width));
	margin: var(--default-y-spacing) auto;
}

p, ul, #pageContainer h2 {
	font-size: 16px;
	font-family: "open_sans";
	line-height: 26px;
	color: var(--text-color);
	text-indent: 24px;
	margin-top: 6px;
	margin-bottom: 6px;
}

ul {
	padding-left: 0;
	text-indent: 0;
	list-style-position: inside;
}

h1 {
	font-size: 22px;
	font-family: "rubik_dirt";
	text-align: center;
	font-weight: normal;
	color: var(--highlight-color);
}

h2.title-brushed {
	background: url("images/illustrations/separator.png") no-repeat left center / contain;
	font-size: 20px;
	font-family: "rubik_dirt";
	color: var(--text-color);
	line-height: 50px;
	padding-left: 16px;
}

hr {
	border: none;
	height: 2px;
	background-color: var(--text-color);
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: none;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: var(--page-width);
	aspect-ratio: 16 / 9;
	height: auto;
}

h1, ul, iframe, .needs-space-after, .banner, button, #map {
	margin-bottom: var(--default-y-spacing);
}

.discreet-info-nav {
	font-size: 14px;
	font-family: "open_sans";
	color: var(--nav-color);
	margin: 10px 20px;
}

.discreet-info-nav time {
	text-align: right;
}

.split-items {
	display: flex;
	justify-content: space-between;
}


/* Buttons and links */
a, summary {
	font-family: "open_sans";
	text-decoration: none;
	color: var(--link-color);
	cursor: pointer;
}

a:hover, summary:hover {
	text-decoration: underline;
	color: var(--highlight-color);
}

details[open] summary~* {
	background: var(--panel-color);
	border-radius: 15px;
}

button {
	font-size: 14px;
	font-family: "open_sans";
	color: var(--nav-color);
	width: fit-content;
	padding: 8px 16px;
	background-color: var(--panel-color);
	border: 2px solid var(--link-color);
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
	color: var(--highlight-color);
	border-color: var(--highlight-color);
	background-color: var(--bg-color);
	text-decoration: none;
}

#fullscreen-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
}


/* Index */
.index-card-container {
	display: grid;
	align-items: center;
	min-height: 200px;
	overflow: hidden;
}

.index-image, .h-v-centered {
	grid-area: 1 / 1;
}

.h-v-centered {
	pointer-events: none;
	width: 100%;
	z-index: 1;
	padding: 0 var(--default-x-spacing);
}

.index-title {
	margin: 0;
}

.index-quote {
	margin: 10px 0;
}

.index-image {
	width: 100%;
	height: 100%;
	min-height: 0;
	object-fit: cover;
}

a:has(.index-card-container):hover {
	text-decoration: none;
}

a:hover .index-image {
	filter: brightness(30%);
}


/* Graphic works */
.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Comics */
#comics-wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#click-left, #click-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 25%;
	cursor: pointer;
}

#click-left {
	left: 0;
}

#click-right {
	right: 0;
}


/* Short novels and texts pagination */
.pageHidden {
	display: none;
}

.pageDisplayed {
	display: block;
}

.page {
	font-size: 20px;
	color: var(--text-color);
	pointer-events: none;
	text-decoration: none;
}

.page::before {
	content: '[';
}

.page::after {
	content: ']';
}

.active:hover {
	text-decoration: none;
}


/* Bar */
#bar {
	display: flex;
	justify-content: flex-end;
	gap: 14px;
	margin-bottom: 14px;
}

#bar a {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 64px;
	text-decoration: none;
}

#bar a:hover {
	transform: translateY(3px);
}

#bar img {
	height: 28px;
}

.on-light-background #bar {
	filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black) drop-shadow(0 0 4px black) drop-shadow(0 0 4px black);
}